.new-expense__form-container {
  background-color: rgb(167, 121, 210);
  padding: 38px;
  border-radius: 8px;
  margin-bottom: 36px;
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  justify-content: center;
  display: flex;
  gap: 50px;
}

.new-expense__submit {
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 16px;
  border-radius: 8px;
  width: 17%;
}
.new-expense__add-expense__button-container {
  background-color: rgb(167, 121, 210);
  padding: 38px;
  border-radius: 8px;
  margin-bottom: 36px;
  text-align: center;
}