.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.7rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #4b4b4b;
  flex: 1;
}
.time-with-title {
  display: flex;
  flex: 1;
}
.expense-date-container {
  border-radius: 8px;
  box-shadow: 0 2px 8px #fff;
  color: white;
  padding: 8px;
  text-align: center;
  background-color: rgba(54, 51, 51, 0.773);
  flex: 0.1;

}
.expense-item__description {
  display: flex;
  gap: 1rem;
  color: #fff;
  justify-content: left;
  width: auto;
  margin-left: 1em;
  font-size: 18px;
  font-weight: bold;
  flex: 1;
}
.expense-month {
  font-weight: bold;
}
.expense-year {
  font-size: 12px;
}
.expense-day {
  font-size: 24px;
  font-weight: bold;
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}